<body>
  <div class="container">
    <div class="title">
      <div class="logo">ABC</div>
      <div class="name">MPS</div>
    </div>
    <div class="label_signin">SSO Sign In</div>
    <div class="form">
      <div class="form-group">
        <label for="uname" class="form-group--label">Username or email</label>
        <input type="email" id="uname" class="form-group--input">
      </div>
      <div class="form-group">
        <label for="password" class="form-group--label">Password</label>
        <input type="password" id="password" class="form-group--input">
      </div>
      <div class="form-group-check">
        <input type="checkbox" name="remember" id="checkbox" class="form-group--checkbox">
        <label for="checkbox" class="form-group--checkbox-label">Remember me</label>
      </div>
      <div class="button"><a href="#" class="button-signIn">Sign In</a></div>
    </div>
    <div class="forget">
      <a href="#" class="forget--uname">Forget username or password?</a>
    </div>
  </div>
</body>
